@{
    ViewBag.Title = "About Us";
}

<h1>About</h1>
<p>
    SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.
</p>
