@{
    ViewBag.Title = "Registrations";
}
<h3 class="display-4 text-center">Thank You for Your Interest</h3>
<p class="lead text-center">
    We are sorry but we are currently working on Registrations and it will go online soon in the near future.
    <br />
    Click the Button below to Return to Home.
</p>
<a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Go Home</a>
