@{
    ViewBag.Title = "Registrations";
}
<h2>Thank You for Your Interest</h2>
<p>
    We are sorry but we are currently working on Registrations and it will go online soon in the near future.\n
    Click the Button below to Return to Home.
</p>
<a asp-controller="Home" asp-action="Index">Go Home</a>
