@model Customer
@{
    if (ViewBag.Action == "Add")
    {
        ViewBag.Title = "Add Customer";
    }
    else
    {
        ViewBag.Title = "Edit Customer";
    }
}
<h2 class="display-4">@ViewBag.Title</h2>

<div asp-validation-summary="All"></div>

<form method="post" asp-action="Edit">
    <div class="form-group">
        <label asp-for="CustFName">First Name</label>
        <input asp-for="CustFName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="CustLName">Last Name</label>
        <input asp-for="CustLName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="State">State</label>
        <input asp-for="State" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode">Postal Code</label>
        <input asp-for="PostalCode" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="CountryId">Country</label>
        <select asp-for="CountryId" class="form-control">
            <option value="">Select a Country</option>
            @foreach (Country c in ViewBag.Countries)
            {
                <option value="@c.CountryId">@c.CountryName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CustEmail">Email</label>
        <input asp-for="CustEmail" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="CustPhone">Phone</label>
        <input asp-for="CustPhone" class="form-control"/>
    </div>
    <br />
        <input type="hidden" asp-for="CustId" />

        <button class="btn btn-primary" type="submit">@ViewBag.Action</button>
        <a class="btn btn-primary" asp-controller="Customer" asp-action="List">Cancel</a>

</form>
