@{
    ViewBag.Title = "View Customers";
}
<h2>Customer Manager</h2>
<br />
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>

<a asp-controller="Customer" asp-action="Add">Add Customer</a>
