@{
    ViewBag.Title = "Delete Technician";
}
<h2 class="display-4">Delete Technician</h2>
<p>Do you really want to delete the technician (Name)</p>
<form asp-controller="Technician" asp-action="Delete" method="post">
    <button type="submit">Yes</button>
    <button asp-controller="Technician" asp-action="List"></button>
</form>
