@model Technician
@{
    if (ViewBag.Action == "Add")
    {
        ViewBag.Title = "Add Technician";
    }
    else
    {
        ViewBag.Title = "Edit Technician";
    }
}

<h2 class="display-4">@ViewBag.Title</h2>

<div asp-validation-summary="All"></div>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="TechName">Name</label>
        <br />
        <input asp-for="TechName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="TechEmail">Email</label>
        <br />
        <input asp-for="TechEmail" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="TechPhone">Phone</label>
        <br />
        <input asp-for="TechPhone" class="form-control"/>
    </div>
    <br />
    <input type="hidden" asp-for="TechId" />

        <button class="btn btn-primary" type="submit">@ViewBag.Action</button>
        <a class="btn btn-primary" asp-controller="Technician" asp-action="List">Cancel</a>

</form>