@{
    ViewBag.Title = "View Technicians";
}

<h2 class="display-4">Technician Manager</h2>
<br />
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>

<a asp-controller="Technician" asp-action="Add">Add Technician</a>