@{
    ViewBag.Title = "Registrations - Get Customer";
}
<form action="/" method="post">
    <h3>Get Customer</h3>
    <select>
        <option value="value">text</option>
    </select>
    <button type="submit" name="select" id="select" class="btn btn-primary">Select</button>
</form>