@{
    ViewBag.Title = "Registrations - Get Customer";
}
<form action="/" method="post">
    <h3>Get Customer</h3>
    <div class="form-group">
        <select class="form-control">
            <option value="value">text</option>
        </select>
    </div>
    <button type="submit" name="select" id="select" class="btn btn-primary">Select</button>
</form>