@{
    ViewBag.Title = "Registrations";
}
<h3 class="display-4">Customer: (Here goes the Customer)</h3>
<h3 class="display-4">Registrations</h3>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<form action="/" method="post">
    <h3 class="display-4">Register</h3>
    <select>
        <option value="value">text</option>
    </select>
    <button type="submit" name="register" id="regbtn" class="btn btn-primary">Register</button>
</form>