@{
    ViewBag.Title = "Delete Incident";
}
<h2>Delete Incident</h2>
<p>Do you really want to delete the Incident of (CustomerName) for (ProductName)</p>
<form asp-controller="Incident" asp-action="Delete" method="post">
    <button type="submit">Yes</button>
    <button asp-controller="Incident" asp-action="List"></button>
</form>