@{
    if (ViewBag.Action == "Add")
    {
        ViewBag.Title = "Add Incident";
    }
    else
    {
        ViewBag.Title = "Edit Incident";
    }
}

<h2 class="display-4">@ViewBag.Title</h2>

<div asp-validation-summary="All"></div>

<form asp-controller="Incident" asp-action="@ViewBag.Action">
    <div class="form">
        <label for="customer">Customer</label>
        <br />
        <input type="text" name="customer" class="form-control" value="" /> <!-- Display all the customers here as a combo box -->
    </div>
    <div class="form-group">
        <label for="product">Product</label>
        <br />
        <input type="text" name="product" class="form-control" value="" /> <!-- Display all the products here as a combo box -->
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <br />
        <input type="text" name="title" class="form-control" placeholder="eg. Error Launching Program" value="" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <br />
        <textarea name="description" class="form-control" rows="2" placeholder="eg. Program fails to run with error 502: Bad Gateway">
        </textarea>
    </div>
    <div class="form-group">
        <label for="technician">Technician</label>
        <br />
        <input type="text" name="technician" class="form-control" value="" /> <!-- Display all the technicians here as a combo box -->
    </div>
    <div class="form-group">
        <label for="dateOpened">Date Opened</label>
        <br />
        <input type="datetime" name="dateOpened" class="form-control" placeholder="eg. 12/12/2020 12:00:00 AM" value="" />
    </div>
    <div class="form-group">
        <label for="dateClosed">Date Closed</label>
        <br />
        <input type="datetime" name="dateClosed" class="form-control" placeholder="eg. 12/12/2020 12:00:00 AM" value="" />
    </div>
    <br />
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-primary" asp-controller="Incident" asp-action="List">Cancel</a>

</form>
