@{
    ViewBag.Title = "Get Technician";
}
<form action="/" method="post">
    <h3>Technician</h3>
    <div class="form-group">
        <select class="form-control">
            <option value="value">text</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit" name="submit">Select</button>
</form>