@{
    ViewBag.Title = "Incidents by Technician";
}

<h3>Technician: </h3>
<h3>Assigned/Open Incidents</h3>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>

<button type="submit" name="switch" class="btn btn-primary">Switch Technician</button>
