@{
    ViewBag.Title = "View Incidents";
}
<h2>Incident Manager</h2>
<br />
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>

<a asp-controller="Product" asp-action="Add">Add Incident</a>
