@model Product
@{
    ViewBag.Title = "Delete Product";
}
<h2 class="display-4">Delete Product</h2>
<p>Do you really want to delete the product @Model.ProductName ?</p>
<form asp-controller="Product" asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProductId" />
    <button class="btn btn-primary" type="submit">Yes</button>
    <a class="btn btn-primary" asp-controller="Product" asp-action="List">No</a>
</form>
