@{
    ViewBag.Title = "Delete Product";
}
<h2>Delete Product</h2>
<p>Do you really want to delete the product (Name)</p>
<form asp-controller="Product" asp-action="Delete" method="post">
    <button type="submit">Yes</button>
    <button asp-controller="Product" asp-action="List"></button>
</form>
