@{
    ViewBag.Title = "View Product";
}
<h2 class="display-4">Product Manager</h2>
<br />
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>

<a asp-controller="Product" asp-action="Add">Add Product</a>
